# Dependencies
backend/node_modules/
frontend/node_modules/

# Environment variables
backend/.env
frontend/.env

# RSA Keys
backend/private.pem
backend/public.pem

# Logs
*.log

# Build files
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Generated certificates
backend/certificates/*.pdf

# Temporary files
*.tmp